body {
    margin: 0 0 0 0;
    background-color: #E5E5E5;
    color: #000000;
    font-family: 'Poppins', sans-serif;
}




h1 {
    color: #FCA311;
    background-color: #14213D;
    text-align: center;
    padding: 16px 0 16px 0;
    margin: 0 0 30px 0;
}




h2 {
    color: #14213D;
    margin: 25px 0 12px 0;
}



h3 {
    color: #14213D;
}



table {
    width: 90%;
    margin: 10px 0 30px 0;
    background-color: #FFFFFF;
    border-collapse: collapse;
}




th {
    background-color: #14213D;
    color: #FCA311;
    padding: 14px;
    text-align: left;
}




td {
    padding: 12px;
    border: 1px solid #E5E5E5;
}




.prioridade {
    width: 90%;
    background-color: #FFFFFF;
    border: 1px solid #E5E5E5;
    padding: 20px 20px 20px 20px;
    margin: 10px 0 30px 0;
    border-radius: 10px;
    box-sizing: border-box;
}




.tipo {
    width: 90%;
    background-color: #FFFFFF;
    border: 1px solid #E5E5E5;
    padding: 20px 20px 20px 20px;
    margin: 10px 0 30px 0;
    border-radius: 10px;
    box-sizing: border-box;
}




.criticas {
    width: 90%;
    background-color: #FFFFFF;
    border: 1px solid #FCA311;
    padding: 20px 20px 20px 20px;
    margin: 10px 0 15px 0;
    border-radius: 10px;
    box-sizing: border-box;
}




.prazos {
    width: 90%;
    background-color: #FFFFFF;
    border: 1px solid #E5E5E5;
    padding: 20px 20px 20px 20px;
    margin: 10px 0 30px 0;
    border-radius: 10px;
    box-sizing: border-box;
}




ul {
    margin: 0 0 0 0;
}
